<launch>

    <!-- Bring up turtlebot  -->
    <!-- <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote_robot.launch"/> -->

    <!-- Node for selecting trajectory mode  -->
    <node pkg="keyboard_inputs" type="keyboard_inputs_node" name="keyboard_to_topic" output="screen" launch-prefix="xterm -e">
      <remap from="key" to="traj_selection"/>
    </node>

    <!-- Trajectory Service -->
    <!-- <node pkg="turtlebot3_dynamic_obstacle" type="turtlebot3_server" name="turtlebot3_server" output="screen">
      <remap from="cmd_vel" to="cmd_vel_waffle"/>
    </node> -->

    <!-- Trajectory Client -->
    <!-- <node pkg="turtlebot3_dynamic_obstacle" type="turtlebot3_client" name="turtlebot3_client" output="screen" respawn="true"/> -->

    <node pkg="turtlebot3_dynamic_obstacle" type="turtlebot3_ptp.py" name="turtlebot3_ptp" output="screen" respawn="true"/>


</launch>
